<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
  <!-- -->

  <!-- Logo = Link to Home -->
  <a class="navbar-brand" href="#"><img src="assets/logo/logo2.png" width="160px" /></a>

  <!-- Hamburger Menu Toggle -->
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Items (collapsable)-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto justify-content-center">
      <li class="nav-item text-center">
        <a class="btn btn-link" href="#">About us</a>
      </li>

      <li class="nav-item text-center">
        <a class="btn btn-link" href="#">Cakes</a>
      </li>

      <li class="nav-item text-center">
        <a class="btn btn-link" href="#">Special Order</a>
      </li>

      <li class="nav-item text-center">
        <a class="btn btn-link" href="#">Contact</a>
      </li>

      <li class="nav-item text-center">
        <a class="btn btn-link" href="#">LogIn/Register</a>
      </li>
      <li class="nav-item text-center">
        <a class="btn btn-link border border-light rounded mx-2 w-200" href="#"><i
            class="fa fa-shopping-cart fa-lg"></i></a>
      </li>
    </ul>
  </div>
</nav>