<div class="container">
  <header class="section-heading">
    <a [routerLink]="['/products']" class="btn btn-md mt-3 float-right">Back</a>

    <h3 class="display-4 text-muted">Detail of our sweets:</h3>
  </header>

  <div href="#" class="card my-4 mx-auto" style="width: 22rem">
    <img [src]="productItem.imagePath" class="card-img-top image" alt="product" />

    <div class="card-body border-top text-center">
      <div class="card-text">
        <a href="#" class="card-link title">
          <h5 class="card-title text-muted">{{ productItem.name }}</h5>
        </a>
        <h6 class="card-desription text-muted">
          {{ productItem.description }}
        </h6>
        <h6 class="card-detail text-muted"> {{ productItem.detail }}</h6>
        <div class="price mt-1">${{ productItem.price }}</div>
      </div>
    </div>
  </div>
</div>